body {
  background-color: #DDD;
  font-family: Calibri;
  font-size: 18px;
  color: #333;
}

table {
  border: 1px solid #333;
  margin: 20px 0;
  border-collapse: collapse;
  background-color: #CCC;
}

table th, table td {
  border: 1px solid #333;
  padding: 10px;
}

div {
  width: 50%;
  float: left;
}

img {
  margin: 0 auto;
  text-align: center;
  display: block;
}